/* ubuntu-regular - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../fonts/ubuntu-v15-cyrillic-regular.woff2") format("woff2"), url("../fonts/ubuntu-v15-cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url("../fonts/ubuntu-v15-cyrillic-500.woff2") format("woff2"), url("../fonts/ubuntu-v15-cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/ubuntu-v15-cyrillic-700.woff2") format("woff2"), url("../fonts/ubuntu-v15-cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v18-cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-500 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/raleway-v18-cyrillic-500.woff2") format("woff2"), url("../fonts/raleway-v18-cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v18-cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p, a, h1, h2, h3 {
  color: #222;
}

p, a, h1, h2, h3 {
  color: #222;
  font-weight: normal;
  text-decoration: none;
}

li {
  list-style: none;
}

.bg_gradient {
  background: white url(../img/bg-gradient.svg) center top no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 75px;
}

.logo {
  max-width: 204px;
}

.logo h1 {
  color: #2EABE1;
  font-weight: 700;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  margin: 1px;
}

.logo p {
  margin: 0px;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 14px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.btn {
  background-color: #2EABE1;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  width: 225px;
  height: 40px;
  border-radius: 4px;
  border-color: #2EABE1;
  border-style: solid;
  text-align: center;
}

.btn a {
  color: #fff;
}

main {
  padding-left: 75px;
  padding-top: 180px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-text {
  max-width: 650px;
}

.main-text > h1 {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: normal;
  font-size: 33px;
  margin-bottom: 20px;
}

.main-text > p {
  font-weight: 400;
  margin-bottom: 20px;
}

.main-text__about p {
  margin-bottom: 17px;
}

.main-text__about ul {
  margin-bottom: 23px;
}

.main-text__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-text__start p {
  margin-left: 9px;
  margin-right: 27px;
}

.main-img {
  background: white url(../img/main.svg) center top no-repeat;
  background-size: cover;
  width: 626px;
  height: 670px;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.dot {
  background-color: #2EABE1;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 10px;
}

.text_blue {
  color: #2EABE1;
}

.container {
  max-width: 1366px;
  padding: 61px 75px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-family: Raleway;
  font-size: 34px;
}

.cards {
  margin-top: 59px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-item {
  max-width: 540px;
  margin-bottom: 25px;
}

.cards-item__title {
  margin-bottom: 7px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 16px;
}

.cards-item__description {
  font-weight: 400;
  font-family: Ubuntu;
  font-size: 15px;
  color: #4E4E4E;
}

.container-full, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-full p, .container p {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 20px;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 16px;
}

.form {
  padding-bottom: 80px;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 2px solid #505D68;
  padding-bottom: 14px;
  opacity: 50%;
  outline: none;
  max-width: 166px;
}

input[type=submit] {
  margin-left: 30px;
}

.cards_audience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 59px;
}

.cards_audience .cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 46px;
  margin-right: 104px;
}

.cards_audience .cards-item__img {
  max-width: 104px;
  height: 84px;
  display: inline;
}

.cards_audience .cards-item__text {
  width: 191px;
  padding-left: 22px;
}

.cards_audience .cards-item__text h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 3px;
}

.cards_audience .cards-item__text p {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
}

.cards_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.cards_result-item {
  background: white url(../img/Emelanova.svg) center top no-repeat;
  background-size: cover;
  width: 296px;
  height: 378px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cards_result-item:hover .cards_result-item__text {
  background-color: rgba(39, 149, 195, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards_result-item__text {
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.cards_result-item__text h4 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
}

.cards_result-item__text p {
  color: white;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  padding: 0 24px;
}

.cards_result-item__text p:last-child {
  font-weight: 500;
}

.cards_registrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 59px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.cards_registrate .cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  max-width: 320px;
}

.cards_registrate .cards-item h3 {
  margin-bottom: 6px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 16px;
}

.cards_registrate .cards-item p {
  margin: 0px;
  text-align: start;
  font-weight: 400;
  font-family: Ubuntu;
  font-size: 14px;
}

.text_caps {
  text-transform: uppercase;
}

.title-text_big {
  font-size: 23px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.comments label {
  color: #222;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 41px;
}

.comments input[type=radio] {
  display: none;
}

.comments input[type=radio]:checked + label {
  color: #2EABE1;
  text-decoration: underline;
}

.comments__cards_text, .comments__cards_video {
  display: none;
  width: 100%;
  margin-top: 10px;
}

#commentText:checked ~ .comments__cards_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#commentVideo:checked ~ .comments__cards_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.cards_text-item {
  width: 296px;
  text-align: center;
}

.cards_text-item .name {
  margin-bottom: 6px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 16px;
}

.cards_text-item .comment {
  font-weight: 400;
  font-family: Ubuntu;
  font-size: 14px;
}

.cards_coment_video-item video {
  width: 296px;
  height: 240px;
}

.cards_trust_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 46px;
          column-gap: 46px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.cards_trust_text-item {
  max-width: 330px;
  margin-right: 46px;
}

.cards_trust_text-item h3 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  color: #2EABE1;
}

.cards_trust_text-item p {
  text-align: start;
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 14px;
}

.cards_trust_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards_trust_photo-item {
  max-width: 296px;
  height: 240px;
  margin-bottom: 10px;
}

#showmore {
  margin-top: 40px;
}

.cards_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards_video-item {
  margin-bottom: 10px;
}

footer {
  background-color: #36353A;
  padding: 27px 75px 12px;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  border-bottom: 1px solid white;
  padding-bottom: 23px;
  margin-bottom: 13px;
}

footer .footer-nav p, footer .footer-nav a, footer .footer-nav div {
  color: white;
}

footer_phone {
  text-align: center;
}

.fa-phone-alt {
  color: #2EABE1;
  margin-right: 10px;
}

.copyright {
  font-family: Ubuntu;
  font-weight: normal;
  font-size: 14px;
  color: white;
  text-align: right;
}
/*# sourceMappingURL=main.css.map */